body, p, h1, h2, h3, ul, li {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
}

body {
	font-family: Georgia, serif;
	color: #252525;
}

* {
	box-sizing: border-box;
}


.header-navegation {
    width: 100%;
    text-align: center;
}

.countries header {
	margin-bottom: 20px;
}

.countries li {
	margin-bottom: 20px;
}

.countries li img {
	display: block;
    max-width: 50%;
    max-height: 50%;
}

.countries li a {
    text-decoration: none;
    color: #000;
}

.countries li a header {
    font-size: 0.875em;
	font-weight: normal;
}
.countries-details {
    height: 100%;
}

.countries-details header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.countries-details header h1 {
    padding-left: 20px;
}

.countries-details ul {
    height: 100%;
}

.countries-details li img {
	display: block;
    max-width: 100%;
    max-height: 20%;
}

.countries-details li {
    display: flex;
    justify-content: space-between;
}

.countries-details li span{
    text-align: right;
}